@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;

  --app-gray-background: #191765;

  min-width: min-content;
  font-family: 'Roboto', sans-serif;

  --app-gray-color: #7a6e6e;
  --app-ligth-gray-color: #f0f0f0;
}

.jumbotron {
  background-image: url('../images/fondo.jpg');
  height: 200px;
}

.main-profile {
  padding-top: 30px;
}

.main-profile h1,
h4 {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.logoElio {
  height: 50px;
}

.regard {
  width: 350px;
}

.color-container {
  background-color: var(--app-ligth-gray-color);
}

.color-container h1 {
  font-weight: 400;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

#about {
  display: flex;
  padding: 0 20px 0 50px;
  flex-wrap: wrap;
}

#about h1 {
  font-weight: 400;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

#about p {
  font-weight: 400;
  font-size: 25px;
  color: var(-app-gray-color) !important;
}

.profile {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  margin-top: 20px;
  padding-right: 20px;
  text-align: left;
}

.photo {
  flex-basis: 30%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.education-container {
  color: var(-app-gray-color) !important;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 70px;
}

.education-title {
  margin-top: 70px;
}

.education-node {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  /* margin-left: 30px; */
}

.divider-line {
  min-height: 4em !important;
}

/* .tree {
  height: 500px;
 }
 */
.tree img {
  mix-blend-mode: multiply;
}
